* {
  box-sizing: border-box;
}

body  {
  font-family: "Open Sans", sans-serif;
  background-color: #0d1821;
  background: linear-gradient(180deg, rgb(45, 50, 56), rgb(66, 77, 92));
  color: #dddddd;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.form-control {
  width: 100%;
  max-width: 600px;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root {
  position:  initial !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #cecece !important;
  margin-bottom: 5px !important;
}

.form-control input {
  width: 100%;
  display: block;
  background-color: rgb(34, 38, 46);
  color: #cecece;
  border: none;
  border-radius: 100px;
  padding: 0.6rem 1.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.form-control input::placeholder {
  color: #acacac;
}

.form-control input:focus {
  outline: none;
}

.card {
  max-width: 600px;
  background: linear-gradient(90deg, rgb(34, 41, 53), rgb(44, 51, 63));
  color: #f1f1f1;
  padding: 2rem 3rem;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: linear-gradient(90deg, rgb(34, 41, 53), rgb(44, 51, 63)) !important;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #0d1821;
  height: 120px;
  width: 120px;
}

.user-info {
  color: #eee;
  display: flex;
  border-radius: 10px;
  border: 5px solid #acacac;
  background: #acacac;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-name {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #acacac;
}

.card-info{
  display: flex;
}

.card-name{
  display: block;
  padding-left: 2rem;
  color: #acacac;
}

.card-text {
  margin: 0 2rem;
}

.text-info{
  margin-left: 1.8rem;
}

.user-info p {
  font-size: 1.5rem;
}

.error-user {
  text-align: center;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background: linear-gradient(180deg, rgb(45, 50, 56), rgb(66, 77, 92))!important;
  padding: 2rem;
}

@media (max-width: 550px) {
  .container {
    padding: 0.2rem;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .form-control {
    width: 100%;
  }

  .form-control input {
    margin-bottom: 1.3rem;
  }

  .user-info {
    align-items: center;
    margin-left: 0;
  }

  h2 {
    text-align: center;
  }
}



